body
{
width:100%;
height:100%;
backgroud repeat:no-repeat;
background-size:cover;
}
div.transbox {
    position:fixed;
	height:100%;
    width:70%;
	margin-top: 0px;
    margin-right: 15%;
    margin-left: 15%;
    /*margin-bottom: 0px;*/
    background-color: white;
    border: 1px solid WHITE;
    opacity: 0.89;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
 h1{
	position: fixed
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
    color: white;
	font-size: 250%;
	/*text-decoration:wider;*/
	}
div.footer{
	position:fixed;
	width:100%;
	height:7.5%;
	top:92.5%;;
	/*margin-right:15%;
	margin-left:15%;
	/*margin-top:90%*/
	/*margin-bottom:0px;*/
	background-color:black;
	opacity:0.8;
}	

div.header{
	position:fixed;
	width:100%;
	height:15%;
	top:0;
	/*margin-top:1px;*/
	margin-left:0%;
	margin-right:0%;
	background-color:black;
	opacity:0.8;
	
}

 #slideShowImages { /* The following CSS rules are optional. */
      border: 1px gray solid;
      background-color: lightgray;
    }   
  
    #slideShowImages img { /* The following CSS rules are optional. */
      border: 0.8em black solid;
      padding: 3px;
    }   
	
	
	
	nav {
 
  width: 100%;
 
  margin-top: 12%; 
  margin-left: 17%;
  }
 
nav ul {
 
  list-style: none;
 
  overflow: hidden; }
 
nav ul li {
 
  float: left;
 
  width: 20%; }
 
nav ul li a {
 
  text-align: center;
 
  padding: 8px 0;
 
  display: block;
 
  width: 100%;
 
  background: #cdeb8e; /* Old browsers */
 
  background: -moz-linear-gradient(top, #cdeb8e 0%, #b0ca34 100%); /* FF3.6+ */
 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#b0ca34)); /* Chrome,Safari4+ */
 
  background: -webkit-linear-gradient(top, #cdeb8e 0%,#b0ca34 100%); /* Chrome10+,Safari5.1+ */
 
  background: -o-linear-gradient(top, #cdeb8e 0%,#b0ca34 100%); /* Opera 11.10+ */
 
  background: linear-gradient(to bottom, #cdeb8e 0%,#b0ca34 100%); /* W3C, IE10+ */
 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#b0ca34',GradientType=0 ); /* IE6-9 */
 
  endColorstr='#b0ca34',GradientType=0 ); /* IE6-9 */
 
}
 
nav ul li a,
 
nav ul li a:focus,
 
nav ul li a:visited,
 
nav ul li a:hover,
 
nav ul li a:active {
 
  color: #000;
 
  text-decoration: none; }
 
nav ul li a:hover,
 
nav ul li a:active {
 
  background: #b0ca34; /* Old browsers */
 
  background: -moz-linear-gradient(top, #b0ca34 0%, #96c40d 100%); /* FF3.6+ */
 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0ca34), color-stop(100%,#96c40d)); /* Chrome,Safari4+ */
 
  background: -webkit-linear-gradient(top, #b0ca34 0%,#96c40d 100%); /* Chrome10+,Safari5.1+ */
 
  background: -o-linear-gradient(top, #b0ca34 0%,#96c40d 100%); /* Opera 11.10+ */
 
  background: linear-gradient(to bottom, #b0ca34 0%,#96c40d 100%); /* W3C, IE10+ */
 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0ca34', endColorstr='#96c40d',GradientType=0 ); /* IE6-9 */
 
}
 
nav ul li:first-child a {
 
  border-top-left-radius: 8px;
 
  border-bottom-left-radius: 8px; }
 
nav ul li:last-child a {
 
  border-top-right-radius: 8px;
 
  border-bottom-right-radius: 8px; }
.t1{
font-family:"Monotype Corsiva";
font-weight:bold;
font-style:Italic;
font-size:115%;
}
.t2{
font-family:"Monotype Corsiva";
font-weight:bold;
font-style:Italic;
font-size:150%;
}
p{
position: fixed
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
    color: black;
	font-size: 150%;
	
}

.button:hover{
background-color:1ab456;
}
.ftext{
position: fixed
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
    color: white;
	font-size: 100%;
	margin-top:15px;
	margin-left:5%;
	text-align:left;
	/*text-decoration:wider;*/
}
.twitter{
position:fixed;
top:94%;
right:20%;
}
.twitter:hover{
background-color:4099FF;
}


.facebook{
position:fixed;
top:94%;
right:15%;
}
.facebook:hover{
background-color:3b5998;
}

.wasup{
position:fixed;
top:94%;
right:10%;
}
.wasup:hover{
background-color:green;
}

.mtdc{
position: fixed
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
    color: white;
	font-size: 100%;
	margin-top:15px;
	margin-left:5%;
	text-align:center;
	/*text-decoration:wider;*/
}

.t3{
font-family:"Monotype Corsiva";
font-weight:bold;
font-style:Italic;
font-size:115%;
margin-left:20px;
}